<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #ECEEEF;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <app-task-modal></app-task-modal>
    <app-column-modal></app-column-modal>
    <div class="mr-auto"></div>
    <span class="mr-3 text-light small">
      <i class="fas fa-sync"></i>
      status...
    </span>
    <button type="button" class="btn btn-outline-warning btn-sm">Reset Board</button>
  </div>
</nav>

<div class="scroll">
  <div class="column">
    <div class="columnHeader d-flex justify-content-between align-items-center">
      Backlog
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="columnBox" droppable [dragOverClass]="'drag-target-bg'" (onDrop)="onListDrop($event, 1)">
      <app-task *ngFor="let task of newTask" [task]="task"></app-task>
    </div>
  </div>

  <div class="column">
    <div class="columnHeader d-flex justify-content-between align-items-center">
      ToDo
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="columnBox" droppable [dragOverClass]="'drag-target-bg'" (onDrop)="onListDrop($event, 2)">
      <app-task *ngFor="let task of filterItemsOfId(2)" [task]="task"></app-task>
    </div>
  </div>

  <div class="column">
    <div class="columnHeader d-flex justify-content-between align-items-center">
      In Progress
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="columnBox" droppable [dragOverClass]="'drag-target-bg'" (onDrop)="onListDrop($event, 3)">
      <app-task *ngFor="let task of filterItemsOfId(3)" [task]="task"></app-task>
    </div>
  </div>

  <div class="column">
    <div class="columnHeader d-flex justify-content-between align-items-center">
      In Review
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="columnBox" droppable [dragOverClass]="'drag-target-bg'" (onDrop)="onListDrop($event, 4)">
      <app-task *ngFor="let task of filterItemsOfId(4)" [task]="task"></app-task>
    </div>
  </div>

  <div class="column">
    <div class="columnHeader d-flex justify-content-between align-items-center">
      Done
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="columnBox" droppable [dragOverClass]="'drag-target-bg'" (onDrop)="onListDrop($event, 5)">
      <app-task *ngFor="let task of filterItemsOfId(5)" [task]="task"></app-task>
    </div>
  </div>
</div>

